body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
  overflow-x:hidden;
}

/* INTRO */

#intro{
  position:fixed;
  width:100%;
  height:100vh;
  background:black;
  z-index:999999;
}

#intro-video{
  width:100%;
  height:100%;
  object-fit:cover;
}

#tap-layer{
  position:absolute;
  top:0;
  left:0;

  width:100%;
  height:100%;

  display:flex;
  justify-content:center;
  align-items:center;

  background:black;

  z-index:999999;
}

#tap-layer p{
  color:white;
  font-size:22px;
  text-align:center;
  line-height:1.8;
  padding:0 30px;

  animation:pulse 1.5s infinite;
}

@keyframes pulse{

  0%{
    opacity:0.3;
  }

  50%{
    opacity:1;
  }

  100%{
    opacity:0.3;
  }

}

/* MAIN */

#main-content{
  display:none;
}

/* NAVBAR */

.navbar{
  position:fixed;
  width:100%;
  padding:20px;
  z-index:9999;
}

.logo{
  color:#E50914;
  font-size:35px;
  margin-left:20px;
}

/* HERO */

.hero{
  position:relative;
  height:100vh;
}

.hero-image{
  width:100%;
  height:100%;
  object-fit:cover;
}

.overlay{
  position:absolute;
  top:0;
  width:100%;
  height:100%;

  background:linear-gradient(
    to top,
    black,
    rgba(0,0,0,0.3)
  );

  display:flex;
  align-items:end;
}

.hero-text{
  padding:30px;
  margin-bottom:100px;
}

.hero-text h1{
  font-size:50px;
}

.hero-text p{
  font-size:22px;
  max-width:650px;
  line-height:1.5;
}

/* BUTTONS */

.buttons{
  display:flex;
  gap:15px;
  margin-top:30px;
}

button{
  padding:14px 28px;
  border:none;
  border-radius:5px;
  font-size:18px;
}

.play-btn{
  background:white;
}

.info-btn{
  background:gray;
  color:white;
}

/* CHAPTERS */

.chapters{
  padding:20px;
}

.cards{
  display:flex;
  gap:20px;
  overflow-x:auto;
}

.card{
  min-width:250px;
  background:#181818;
  border-radius:10px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:350px;
  object-fit:cover;
}

.card h3{
  padding:15px;
}

/* VIDEO POPUP */

#video-popup{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;

  background:black;

  display:none;
  justify-content:center;
  align-items:center;
  flex-direction:column;

  z-index:999999;
}

#movie-player{
  width:100%;
  max-height:80vh;
}

/* INFO POPUP */

#info-popup{
  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;

  background:rgba(0,0,0,0.9);

  display:none;
  justify-content:center;
  align-items:center;

  z-index:999999;
}

.info-box{
  background:#181818;
  padding:30px;
  width:80%;
  border-radius:10px;
}
